form {
    margin: 0 auto;
    width: auto;
    padding: 1em 10em;
}

.form-line {
    width: 100%;
    padding: .3em 0;
}

.form-line .label {
    /* width: 30%; */
    /* float: left; */
    display: inline;
    position: relative;
    top: .5em;
}

.label label {
    float: left;
    margin-right: 1em;
}

.form-line div.component {
    /* float: left; */
    /* width: 60%; */
    display: inline;
}

.component input {
    padding: .7em;
    width: 100%;
    border-radius: .4em;
    font-size: 1em;
}
.component input:focus {
    border: 1px solid gray;
}

.component input:invalid {
    border: 1px solid red;
}